absl-py
argcomplete
argon2-cffi
astor
async-generator==1.10
attrs
backcall
bleach
cached-property
certifi==2021.10.8
cffi
colorama
cycler==0.11.0
dataclasses
debugpy
decorator
defusedxml
entrypoints==0.3
fonttools==4.28.2
gast
google-pasta==0.2.0
grpcio
h5py
importlib-metadata
ipykernel
ipython
ipython-genutils
jedi
Jinja2
joblib==1.1.0
jsonschema
jupyter-client
jupyter-core
jupyterlab-pygments
Keras-Applications==1.0.8
Keras-Preprocessing
kiwisolver==1.3.2
Markdown
MarkupSafe
matplotlib==3.5.0
matplotlib-inline
mistune
nbclient
nbconvert
nbformat
nest-asyncio
notebook
numpy
packaging
pandas==1.3.4
pandocfilters
parso
pickleshare
Pillow==8.4.0
prometheus-client
prompt-toolkit
protobuf==3.19.1
pycparser
Pygments
pyparsing
pyrsistent
python-dateutil
pytz==2021.3
pywin32==228
pywinpty==0.5.7
pyzmq
scikit-learn==1.0.1
scipy
Send2Trash
setuptools-scm==6.3.2
six
sklearn==0.0
tensorboard==1.14.0
tensorflow==1.14.0
tensorflow-estimator==1.14.0
termcolor==1.1.0
terminado==0.9.4
testpath
threadpoolctl==3.0.0
tomli==1.2.2
tornado
tqdm==4.62.3
traitlets
typing_extensions
wcwidth
webencodings==0.5.1
Werkzeug
wincertstore==0.2
wrapt
zipp
